.env
./.gitignore
.vscode/*
U_Spin/images/screenshots/
U_Spin/images/error/
errorlog.md
requirements.txt
nextToBuild.md
notes.md
slotdata.json
lib/

__pycache__
classes/__pycache__
classes/slots/__pycache__
__pycache__/
*.py[cod]